.pink {
    background-color: pink;
}

.bold {
    font-weight: bold;
}

input {
    display: inline-block;
    float: left;
    clear: right;
}
ul {
    list-style: none;
}

li {
    display: inline;
}

.bananas {
    background: yellow;
}