<h3>
    {{message}}
</h3>
<nav>
    <ul>
        <li><a routerLink="adduser" routerLinkActive="bananas">Add User</a></li>
    </ul>
</nav>
<img [src]="logoURL" alt="" width="400" [attr.role]="'image'">
<table *appLoggedIn="4">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" [ngClass]="myClasses" (click)="editUser(user)">
            <td>{{user.firstname | bananas | titlecase }}</td>
            <td>{{user.surname | bananas: 'w' | titlecase }}</td>
            <td>{{user.company | titlecase }}</td>
        </tr>
        <p>{{9000000000.876876876876 | number: '1.0-5'}}</p>
        <p>{{today | date: 'dd-MMM'}}</p>
    </tbody>
</table>
<button (click)="myClasses.bold = !myClasses.bold">Toggle Bold</button>
<button (click)="myClasses.pink = !myClasses.pink">Toggle Pink</button>

<!-- <form (ngSubmit)="addUser($event)"> -->
<!-- <ng-container *ngIf="user.firstname">
    <input type="text" placeholder="Firstname" [(ngModel)]="user.firstname">
    <input type="text" placeholder="Surname" [(ngModel)]="user.surname">
    <input type="text" placeholder="Company" [(ngModel)]="user.company">
    <button (click)="addUser($event)">Submit</button>
    {{user.firstname}} {{user.surname}} {{user.company}}
</ng-container> -->

<!-- <app-add-user [users]="coolUsers"></app-add-user> -->
<!-- <app-add-user-reactive></app-add-user-reactive> -->
<router-outlet name="edituseroutlet"></router-outlet>
<router-outlet></router-outlet>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.email}}</td>
        </tr>
    </tbody>
</table>

<!-- <button (click)="addCustomer()">Add Customer</button> -->