<ng-container *ngIf="user.firstname">
    <input type="text" placeholder="Firstname" [(ngModel)]="user.firstname">
    <input type="text" placeholder="Surname" [(ngModel)]="user.surname">
    <input type="text" placeholder="Company" [(ngModel)]="user.company">
    <button (click)="addUser($event)">Submit</button>
    {{user.firstname}} {{user.surname}} {{user.company}}
</ng-container>
<!-- </form> -->
<div [ngSwitch]="user.firstname">
    <p *ngSwitchCase="'Trev'">Trev likes music</p>
    <p *ngSwitchCase="'Allen'">Allen likes playing Guitar</p>
    <p *ngSwitchCase="'Tom'">Tom likes to climb</p>
</div>