<form (ngSubmit)="doSubmit($event)" #adduserform="ngForm">
    <div>
        <input id="firstname" name="firstname" type="text" placeholder="Firstname" [(ngModel)]="user.firstname" #firstname="ngModel"
             minlength="8" required [appBannedName]="'Trev'">
        <span *ngIf="firstname.dirty && firstname.invalid">Please provide your firstname</span>
        {{firstname.errors | json}}
    </div>

    <div>
        <input id="surname" name="surname" type="text" placeholder="Surname" [(ngModel)]="user.surname" #surname="ngModel" minlength="3"
            required>
        <span *ngIf="surname.dirty && surname.invalid">Please provide your surname</span>
    </div>

    <div>
        <input id="company" name="company" type="text" placeholder="Company" [(ngModel)]="user.company" #company="ngModel" minlength="5"
            required>
        <span *ngIf="company.dirty && company.invalid">Please provide your company</span>
    </div>

    <div>
        <input id="email" name="email" type="email" placeholder="email" ngModel #email="ngModel" required>
        <span *ngIf="email.dirty && email.invalid">Please provide a valid email</span>
    </div>

    <button type="submit" [disabled]="adduserform.invalid">Submit</button>
</form>