<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="users" routerLinkActive="bananas">Users</a></li>
    </ul>
</nav>

<!-- <h3 *ngIf="selectedUser">{{selectedUser.firstname}} has been selected</h3> -->
<ng-template [ngIf]="selectedUser">
    <h3>{{selectedUser.firstname}} has been selected</h3>
</ng-template>


<p appFontSize="3em">This is a simple example of directives</p>
<router-outlet></router-outlet>
<!-- <app-users (userSelected)="userSelected($event)"></app-users> -->