<form (ngSubmit)="doSubmit()" [formGroup]="addUserForm">
    <input type="text" placeholder="Firstname" formControlName="firstname">
    <input type="text" placeholder="Surname" formControlName="surname">
    <input type="text" placeholder="Company" formControlName="company">
    <input 
        *ngFor="let control of addUserForm.get('hobbies').controls"
        type="text" 
        placeholder="Hobby"
        [formControl]="control"
    >
    <button type="submit" [disabled]="addUserForm.invalid">Submit</button>
</form>
<button (click)="populateRachel()">Populate Rachel</button>
<button (click)="setWilde()">Make me a Wilde</button>
<button (click)="addHobby()">Add hobby</button>